*.class
*.log

# Scala
.metals
.bloop
.bsp
**/target
**/build
*.egg-info
**/dist
__pycache__
*.so

docs/_build
docs/api

notebooks/coco
notebooks/coco_sample*
notebooks/dataset
notebooks/out
**/.ipynb_checkpoints
project/

python/rikai/jars/

.idea/
.vscode/
.DS_Store

**/mlruns