*.class
*.log

# Scala
.metals
.bloop
.bsp
**/target
**/build
*.egg-info
**/dist
__pycache__
*.so

docs/_build
docs/api

notebooks/coco
notebooks/coco_sample*
notebooks/dataset
notebooks/out
**/.ipynb_checkpoints
project/project

python/rikai/jars/

*.iml
.idea/
.vscode/
.DS_Store
.python-version

**/mlruns
.antlr

python/test-artifact

*.iml