[bumpversion]
commit = True
tag = False
current_version = 0.1.0.dev0
parse = (?P<major>\d+)\.(?P<minor>\d+)(\.(?P<patch>\d+))?(\.(?P<release>[a-z]+)(?P<build>\d+))?
serialize = 
	{major}.{minor}.{patch}.{release}{build}
	{major}.{minor}.{patch}
message = "Bump version for python package: {current_version} -> {new_version}"

[bumpversion:part:release]
first_value = dev
optional_value = final
values = 
	dev
	final

[bumpversion:file:./rikai/__version__.py]
