name: Scala 2.13.x

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        scala-version: [2.13.8]
        java-version: ['8', '11']
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          lfs: true
      - name: Start docker-compose
        run: |
          docker-compose -f .github/docker-compose.yml up -d
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java-version }}
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Pip install
        working-directory: python
        run: |
          python -m pip install -e .[pytorch,mlflow]
      - name: Run Scala tests
        run: sbt ++${{matrix.scala-version}} test
        env:
          SPARK_VERSION: "3.3.1"
          SPARK_LOCAL_IP: "127.0.0.1"
          TEST_MLFLOW_TRACKING_URI: "http://localhost:15000"
      - name: Build Scala Jar
        run: sbt package
        env:
          SPARK_VERSION: "3.3.1"
      - name: Stop docker-compose
        run: docker-compose -f .github/docker-compose.yml down
