name: Scala

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        scala-version: [ 2.12.10, 2.13.7 ]
    timeout-minutes: 15
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Start docker-compose
      run: |
        docker-compose -f .github/docker-compose.yml up -d
        sleep 10
    - name: Run Scala tests
      run: sbt ++${{matrix.scala-version}} test
      env:
        SPARK_LOCAL_IP: "127.0.0.1"
        TEST_MLFLOW_TRACKING_URI: "http://localhost:15000"
    - name: Build Scala Jar
      run: sbt package
    - name: Stop docker-compose
      run: docker-compose -f .github/docker-compose.yml down
